#home1 {
    height: 1000px;
    color: black;
    margin-top: 50px;
    background-size: cover;
}

@media (max-width: 500px) {
    #home1 {
        background-image: url("..//images/main.jpg");
        background-repeat: no-repeat;
      background-size: cover;
    }
  }
@media (min-width: 481px) {
    #home1 {
        background-image: url("..//images/main.jpg");
      background-repeat: no-repeat;
      background-size: cover ;
    }
  }

  #home3 {
      margin: 10px;
  }