

#front_1 {
  height: 500px;
  color: white;
  background-size: cover;
  position: relative; 
  width: 100%; /* for IE 6 */
}

@media (max-width: 500px) {
  #front_1 {
    background-image: url("../images/front_bike.png");
    background-repeat: no-repeat;
    background-size: cover ;
    text-align: center;

  }
}
@media (min-width: 381px) {
  #front_1 {
    background-image: url("../images/front_bike.png");
    background-repeat: no-repeat;
    background-size: cover ;
    text-align: center;

  }
}


#duglu_title { 
  position: absolute; 
  top: 250px; 
  width: 100%; 
  left: 0px;

}

